%h1 Incorrect input, please revise.
%p Please respect the following rules:
%ul
  %li Names may only contain characters from A-Z, a-z, 0-9 or _
  %li Empty names or passwords are not allowed
  %li Password must be at least 6 characters long
  %li Names must be unique, check for existing users